run = "yarn start"
entrypoint = "index.js"

hidden = [".config", "*.config.json", "*.config.mjs", "dist"]

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[packager]
language = "nodejs-npm"

  [packager.features]
  packageSearch = true
  guessImports = false
  enabledForHosting = false

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.cjs,*.cjsx,*.mjs,*.mjsx,*.ts,*.tsx}"

  [languages.javascript.languageServer]
  start = [ "typescript-language-server", "--stdio" ]
