@font-face {
	font-family: 'Outfit';
	font-path: '/fonts/outfit/black';
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	font-path: '/fonts/outfit/extrabold';
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	font-path: '/fonts/outfit/bold';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	font-path: '/fonts/outfit/semibold';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	font-path: '/fonts/outfit/medium';
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	font-path: '/fonts/outfit/regular';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	font-path: '/fonts/outfit/light';
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	font-path: '/fonts/outfit/extralight';
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	font-path: '/fonts/outfit/thin';
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/extrabold';
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/extrabolditalic';
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/bold';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/bolditalic';
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/semibold';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/semibolditalic';
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/medium';
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/mediumitalic';
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/regular';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/italic';
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/light';
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/lightitalic';
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/extralight';
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/extralightitalic';
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/thin';
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-path: '/fonts/jetbrainsmono/thinitalic';
	font-weight: 100;
	font-style: italic;
}
