---
import Login from '../components/Login';
import Layout from '../layouts/Layout.astro';
import { getUser } from '../libs/useReplAuth';
import { Picture } from 'astro-imagetools/components';

const user = getUser({ client: Astro });
---

<Layout
	title={process.env.REPL_SLUG}
	ogtitle="Some new project by RayhanADev!"
	description="Some new project by RayhanADev!"
>
	<main class="max-w-sm py-5 px-8 m-auto bg-background-default rounded">
		<h1 class="font-display font-bold text-5xl mt-8 mb-4">Astro Furrets</h1>
		<Picture src="/logo.png" alt="RayhanADev's Logo" />
		<p class="w-full text-foreground-dimmest">
			A little bit of scaffolding for RayhanADev's kewl projects.
		</p>
		{
			user && user.name ? (
				<p class="my-2">
					Signed in as <strong>{user.name}</strong>.
				</p>
			) : (
				<Login client:load />
			)
		}
	</main>
</Layout>
